@use 'colors' as *;

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	// position: absolute;
	// bottom: 0;
	width: 100%;
	height: 70px;
	background-color: $main-theme;
	// background-color: #fff;
	font-size: 20px;

	.footer-text{
		font-size: 12px;
		text-align: center;
	}
}

@media (min-width: 315px){
    footer{
		.footer-text{
			font-size: 14px;
		}
	}
}