* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(48, 48, 48);
  background: linear-gradient(90deg, rgb(37, 37, 37) 0%, rgb(34, 34, 34) 100%);
  margin: 0 auto;
  color: #ffffff;
  font-size: 62.5%;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

button {
  text-indent: 0;
  line-height: normal;
  background-color: transparent;
  border: 1px solid transparent;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.orange-text {
  color: #ff5700;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  background-color: #222;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background-color: #ff5700;
  border-radius: 50px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  height: 70px;
  width: 100%;
  font-size: 14px;
  position: fixed;
  max-width: 1400px;
  display: none;
}

.nav-bg {
  background-color: rgb(34, 34, 34);
  display: flex;
  justify-content: center;
  height: 70px;
  width: 100vw;
  z-index: 999;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid #ffffff;
  position: fixed;
  top: 0;
}

.logo {
  display: inline-block;
  height: 70px;
  padding: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}
.logo img {
  height: 100%;
  width: 100%;
}

.logo:hover {
  transform: scale(0.95);
}

.main-nav {
  display: flex;
  text-transform: uppercase;
  height: 70px;
}
.main-nav .menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-nav .menu .menu-item {
  position: relative;
  cursor: pointer;
  padding: 10px 30px;
  transition: color 0.2s;
  letter-spacing: 1px;
}
.main-nav .menu .menu-item .dropdown .dropdown-item {
  display: none;
}
.main-nav .menu .menu-item::before {
  position: absolute;
  right: 0;
  top: 0;
  content: "";
  height: 0;
  width: 0;
  border: 0px solid #ff5700;
  transition: 0.5s;
}
.main-nav .menu .menu-item::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  border: 0px solid #ff5700;
  transition: 0.5s;
}
.main-nav .menu .menu-item:hover:before {
  width: 98.5%;
  border: 1px solid #ff5700;
}
.main-nav .menu .menu-item:hover:after {
  height: 100%;
  border: 1px solid #ff5700;
}
.main-nav .menu .dropdown-item::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 0;
  height: 0;
  border: 0px solid #ff5700;
  transition: height 0.3s, border 0.3 cubic-bezier(0.215, 0.61, 0.355, 1);
}
.main-nav .menu .menu-item:hover {
  color: #ff5700;
}
.main-nav .menu .menu-item:hover .dropdown-item::before {
  height: 100%;
  border: 1px solid #ff5700;
  transition-delay: 0.35s;
}
.main-nav .menu .menu-item:hover .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  line-height: 100%;
  color: #ffffff;
  width: 100%;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(34, 34, 34, 0.8);
  transition: 0.2s;
  opacity: 0;
  transform: translateY(-30px);
  text-align: center;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s, font-size 0.3s;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item:nth-child(1) {
  animation: 0.25s 0.1s menu2 forwards;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item:nth-child(2) {
  animation: 0.25s 0.2s menu2 forwards;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item:nth-child(3) {
  animation: 0.25s 0.3s menu2 forwards;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item:nth-child(4) {
  animation: 0.25s 0.4s menu2 forwards;
}
.main-nav .menu .menu-item:hover .dropdown .dropdown-item:hover a {
  color: #ff5700;
  font-size: 15px;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}
.login a {
  padding: 15px;
}
.login a p {
  transition: transform 0.3s, color 0.3s;
}
.login a p i {
  font-size: 13px;
  margin: 0 8px;
}

.login:hover a p {
  transform: scale(0.95);
  color: #ff5700;
}

@keyframes menu2 {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.burger {
  width: 100%;
  max-width: 1400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.burger .burger-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 30px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.burger .burger-btn .bar {
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: transform 0.3s, width 0.4s, background-color 0.2s;
}
.burger .burger-btn .bar::after {
  position: absolute;
  content: "";
  top: 23px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: transform 0.3s, background-color 0.3s;
}
.burger .burger-btn .bar::before {
  position: absolute;
  content: "";
  bottom: 23px;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 50px;
  background-color: #ffffff;
  transition: transform 0.3s, background-color 0.3s;
}
.burger .burger-btn-click .bar {
  width: 0;
  background-color: #ff5700;
}
.burger .burger-btn-click .bar::after {
  transform: translate(0, -8px) rotate(225deg);
  background-color: #ff5700;
}
.burger .burger-btn-click .bar::before {
  transform: translate(0, 8px) rotate(-225deg);
  background-color: #ff5700;
}

.nav--active {
  transform: translateX(0) !important;
}

.nav-burger {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 101vw;
  background-color: rgba(34, 34, 34, 0.95);
  font-size: 16px;
  z-index: 0;
  transform: translateX(110%);
  transition: transform 0.5s;
  border-left: 2px solid #ff5700;
}
.nav-burger .menu {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 50px;
}
.nav-burger .menu .login-burger a {
  color: #ff5700;
}
.nav-burger .menu .menu-item::before {
  content: "";
  position: absolute;
  left: -15px;
  margin: 5px 0;
  width: 3px;
  height: 40px;
  background-color: #ff5700;
  transition: transform 0.3s;
  transform: scale(0);
}
.nav-burger .menu .burger-item {
  opacity: 0;
}
.nav-burger .menu .menu-item {
  transition: 0.3s;
  cursor: pointer;
}
.nav-burger .menu .menu-item .dropdown-burger {
  height: 200px !important;
}
.nav-burger .menu .menu-item .dropdown {
  height: 0px;
  width: 250px;
  transition: height 0.2s;
}
.nav-burger .menu .menu-item .dropdown .dropdown-item {
  display: none;
  height: 0px;
  opacity: 0;
}
.nav-burger .menu .menu-item .dropdown .dropdown-item p {
  transition: color 0.3s, transform 0.3s;
}
.nav-burger .menu .menu-item .dropdown .dropdown-item:hover p {
  color: #ff5700;
  transform: scale(1.02);
}
.nav-burger .menu .menu-item .button-burger {
  width: 100%;
  height: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  cursor: pointer;
  text-align: left;
}
.nav-burger .menu .menu-item:hover .button-burger {
  color: #ff5700;
}
.nav-burger .menu .menu-item:hover .button-burger p {
  color: #ff5700;
}
.nav-burger .menu .menu-item:hover::before {
  transform: scale(1);
}
.nav-burger .menu .dropdown-focused {
  height: 200px !important;
}
.nav-burger .menu .dropdown-focused .dropdown-item:nth-child(1) {
  display: block;
  animation: 0.25s 0.05s menu3 forwards;
  transform-origin: bottom;
}
.nav-burger .menu .dropdown-focused .dropdown-item:nth-child(2) {
  display: block;
  animation: 0.25s 0.1s menu3 forwards;
}
.nav-burger .menu .dropdown-focused .dropdown-item:nth-child(3) {
  display: block;
  animation: 0.25s 0.15s menu3 forwards;
}
.nav-burger .menu .dropdown-focused .dropdown-item:nth-child(4) {
  display: block;
  animation: 0.25s 0.2s menu3 forwards;
}

.nav-animation {
  animation: 1.3s navAnimation both;
}

.burger-items-animation {
  animation: 0.45s burgerItems both;
}

@keyframes menu3 {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    height: 50px;
    transform: translateY(0);
  }
}
@keyframes navAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 576px) {
  .nav-burger {
    width: 320px;
  }
}
@media (min-width: 576px) {
  footer .footer-text {
    font-size: 18px;
  }
}
@media (min-width: 815px) {
  .burger {
    justify-content: center;
  }
  .burger .burger-btn {
    right: 30px;
  }
}
@media (min-width: 992px) {
  .burger {
    display: none;
  }
  .nav {
    display: contents;
    display: flex;
    height: 70px;
  }
  .nav-bg {
    height: 70px;
  }
  .nav-burger {
    display: none;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #ff5700;
  font-size: 20px;
}
footer .footer-text {
  font-size: 12px;
  text-align: center;
}

@media (min-width: 315px) {
  footer .footer-text {
    font-size: 14px;
  }
}/*# sourceMappingURL=style-base.css.map */