@keyframes rotateWheel {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes sparkleOne {
  0% {
    transform: translate(0px, 0px) rotate(-10deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(10px, 60px);
    opacity: 0;
  }
}
@keyframes sparkleTwo {
  0% {
    transform: translate(0, 0) rotate(40deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  100% {
    transform: translate(-50px, 60px) rotate(40deg);
    opacity: 0;
  }
}
@keyframes sparkleThree {
  0% {
    transform: translate(0, 0) rotate(20deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    transform: translate(-30px, 80px) rotate(20deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sparkleFour {
  0% {
    opacity: 0;
    transform: translate(0, 0) rotate(50deg);
  }
  10% {
    opacity: 1;
  }
  80% {
    transform: translate(-35px, 30px) rotate(50deg);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fallingTools {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(12px);
  }
}
@keyframes fallingTb {
  0% {
    transform: translateY(12px);
    rotate: 0;
  }
  100% {
    transform: translateY(12px);
    rotate: -65deg;
  }
}
@keyframes fallingOb {
  0% {
    transform: translate(0, 12px) rotate(0);
  }
  70% {
    transform: translate(-15px, 12px) rotate(-45deg);
  }
  100% {
    transform: translate(-12px, 15px) rotate(-25deg);
  }
}
@keyframes fallingOb2 {
  0% {
    transform: translate(0, 12px) rotate(0);
  }
  60% {
    transform: translate(-14px, 13px) rotate(-100deg);
  }
  100% {
    transform: translate(-12px, 13px) rotate(-90deg);
  }
}
@keyframes fallingLb {
  0% {
    transform: translate(0, 12px) rotate(0);
  }
  60% {
    transform: translate(0, 13px) rotate(30deg);
  }
  100% {
    transform: translate(10px, 200px) rotate(100deg);
  }
}
@keyframes fallingSb {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  100% {
    transform: translate(5px, 180px) rotate(20deg);
  }
}
@keyframes backTb {
  from {
    transform: translateY(12px);
    rotate: -65deg;
  }
  to {
    transform: translateY(0px);
  }
}
@keyframes backOb {
  from {
    transform: translate(-12px, 15px) rotate(-25deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes backOb2 {
  from {
    transform: translate(-12px, 13px) rotate(-90deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes backLb {
  from {
    transform: translate(10px, 200px) rotate(100deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes backSb {
  from {
    transform: translate(5px, 180px) rotate(20deg);
  }
  to {
    transform: translate(0px, 0px) rotate(0deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
  }
}
html {
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: -100;
}

.display-block {
  display: block !important;
}

.error-block {
  width: 100%;
}

.registration {
  height: 100vh;
  width: 100vw;
}
.registration .wheel {
  display: none;
}
.registration .logo-text {
  display: none;
}
.registration .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 100vw;
  z-index: 100;
}
.registration .card form {
  position: relative;
  display: flex;
  height: 100%;
  width: 75%;
  padding: 3px 3px 3px 2px;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  overflow-x: hidden;
}
.registration .card form .input-block {
  position: relative;
  display: flex;
  height: 45px;
  width: 100%;
  z-index: 0;
}
.registration .card form .input-block i {
  font-size: 14px;
  margin: auto 0px auto 10px;
  padding: 2px 10px 2px 0;
  border-right: 1px solid #ffffff;
}
.registration .card form .input-block label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 40px;
  font-size: 14px;
  padding: 0 5px;
  z-index: -1;
  cursor: text;
  transition: transform 0.15s, font-size 0.15s, color 0.15s;
}
.registration .card form .input-block .active-label {
  transform: translate(-12px, -260%);
  font-size: 10px;
  color: #ff5700;
}
.registration .card form .input-block input {
  width: 100%;
  font-size: 16px;
  background-color: transparent;
  border: none;
  caret-color: #ffffff;
  color: white;
}
.registration .card form .input-block input:focus {
  background-color: transparent;
  outline: none;
  border: none;
}
.registration .card form .input-block .white-bgc {
  background-color: #fff !important;
}
.registration .card form .input-block .white {
  color: #fff;
}
.registration .card form .input-block .top {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 0px;
  height: 1px;
  transform-origin: top;
  transition: width 0.4s, background-color 0.2s;
  background-color: #ff5700;
}
.registration .card form .input-block .side {
  position: absolute;
  left: -2px;
  top: -2px;
  width: 1px;
  height: calc(100% + 4px);
  background-color: #ff5700;
  transition: background-color 0.1s;
}
.registration .card form .input-block .bottom {
  position: absolute;
  left: -2px;
  bottom: -2px;
  height: 1px;
  width: 110%;
  transition: transform 0.3s, background-color 0.2s;
}
.registration .card form .input-block .one {
  background-color: #fff;
}
.registration .card form .input-block .two {
  left: calc(-110% - 2px);
  background-color: #ff5700;
}
.registration .card form .input-block .bottom-active {
  transform: translateX(100%);
}
.registration .card form .error {
  color: red;
  padding: 10px 0 10px 5px;
  font-size: 12px;
}
.registration .card form button {
  position: relative;
  height: 40px;
  width: 100px;
  border: 2px solid #ff5700;
  font-size: 13px;
  color: #ff5700;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
  z-index: 0;
  transition: color 0.08s;
}
.registration .card form button::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  height: 107%;
  width: 103%;
  z-index: -1;
  background-color: #ff5700;
  transform-origin: right;
  transition: transform 0.3s;
  transform: scaleX(0);
}
.registration .card form button:hover {
  color: #ffffff;
}
.registration .card form button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.registration .card form .pass {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 10px;
  font-size: 12px;
  transition: color 0.3s;
}
.registration .card form .pass:hover {
  color: #ff5700;
}
.registration .card form .register {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 10px;
  font-size: 12px;
  transition: color 0.3s;
}
.registration .card form .register i {
  padding: 2px;
}
.registration .card form .register:hover {
  color: #ff5700;
}

@media (max-width: 335px) {
  .registration .card form .register {
    bottom: 25px;
  }
}
@media (min-width: 576px) {
  .registration .card {
    height: 500px;
    width: 400px;
    padding: 10px 0 20px 0;
    margin-top: 35px;
    background-color: #222;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
    border-radius: 5px;
    z-index: 0;
  }
  .registration .card form button {
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .registration .area {
    width: 100%;
  }
  .registration .area .circles {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  .registration .area .circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #ff5700;
    animation: animate 60s linear infinite;
    bottom: -150px;
    opacity: 0;
  }
  .registration .area .circles li:nth-child(1) {
    left: 25%;
    bottom: 50%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
  }
  .registration .area .circles li:nth-child(2) {
    left: 10%;
    bottom: 30%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  .registration .area .circles li:nth-child(3) {
    left: 70%;
    bottom: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 34s;
  }
  .registration .area .circles li:nth-child(4) {
    left: 40%;
    bottom: 60%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 28s;
  }
  .registration .area .circles li:nth-child(5) {
    left: 65%;
    bottom: 20%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
  }
  .registration .area .circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
  }
  .registration .area .circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
  }
  .registration .area .circles li:nth-child(11) {
    left: 80%;
    bottom: 70%;
    width: 50px;
    height: 50px;
    animation-delay: 3s;
    animation-duration: 49s;
  }
  .registration .area .circles li:nth-child(12) {
    left: 65%;
    bottom: 50%;
    width: 30px;
    height: 30px;
    animation-delay: 0s;
    animation-duration: 42s;
  }
  .registration .area .circles li:nth-child(13) {
    left: 25%;
    bottom: 75%;
    width: 50px;
    height: 50px;
    animation-delay: 6s;
    animation-duration: 31s;
  }
  .registration .area .circles li:nth-child(14) {
    left: 15%;
    bottom: 40%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    animation-duration: 59s;
  }
  .registration .area .circles li:nth-child(15) {
    left: 10%;
    bottom: 30%;
    width: 45px;
    height: 45px;
    animation-delay: 12s;
    animation-duration: 55s;
  }
}
@media (min-width: 1200px) {
  .registration .wrapper .card {
    position: static;
    transform: translate(0, 0);
    z-index: 1;
  }
  .registration .wrapper .animation {
    position: relative;
    height: 500px;
    width: 400px;
    padding: 10px 0 20px 0;
    margin-top: 35px;
    background-color: #222;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgb(0, 0, 0);
    z-index: 0;
    overflow: hidden;
  }
  .registration .wrapper .animation .sparkle {
    position: absolute;
    top: 72%;
    left: 20%;
    background-color: gold;
    border-radius: 50px;
    transition: 3s;
    opacity: 0;
    display: none;
  }
  .registration .wrapper .animation .sparkle-one {
    width: 1px;
    height: 12px;
    animation: sparkleOne 0.8s forwards linear infinite;
  }
  .registration .wrapper .animation .sparkle-two {
    width: 1px;
    height: 10px;
    animation: sparkleTwo 0.8s 0.2s forwards linear infinite;
  }
  .registration .wrapper .animation .sparkle-three {
    width: 1px;
    height: 8px;
    animation: sparkleThree 0.8s 0.4s forwards linear infinite;
  }
  .registration .wrapper .animation .sparkle-four {
    width: 1px;
    height: 6px;
    animation: sparkleFour 0.8s 0.6s forwards linear infinite;
    transform: rotate(50deg);
  }
  .registration .wrapper .animation .wheel {
    position: absolute;
    display: block;
    cursor: pointer;
  }
  .registration .wrapper .animation .wheel-one {
    left: 61.5%;
    top: 27%;
    width: 70px;
  }
  .registration .wrapper .animation .wheel-two {
    left: 42%;
    top: 34%;
    width: 90px;
  }
  .registration .wrapper .animation .wheel-three {
    left: 18.5%;
    top: 21%;
    width: 110px;
  }
  .registration .wrapper .animation .smooth-animation {
    animation: rotateWheel 5s ease-in-out infinite;
  }
  .registration .wrapper .animation .reverse-animation {
    animation-direction: reverse !important;
  }
  .registration .wrapper .animation .falling-tools {
    animation: fallingTools 0.3s ease-in forwards;
  }
  .registration .wrapper .animation .falling-T-b {
    animation: fallingTb 0.4s ease-in forwards;
  }
  .registration .wrapper .animation .falling-O-b {
    animation: fallingOb 1s ease-in forwards;
  }
  .registration .wrapper .animation .falling-O-b2 {
    animation: fallingOb2 1s ease-in forwards;
  }
  .registration .wrapper .animation .falling-L-b {
    animation: fallingLb 1.5s ease-in forwards;
  }
  .registration .wrapper .animation .falling-S-b {
    animation: fallingSb 0.9s ease-in forwards;
  }
  .registration .wrapper .animation .back-Tb {
    animation: backTb 1s ease-in forwards;
  }
  .registration .wrapper .animation .back-Ob {
    animation: backOb 1s ease-in forwards;
  }
  .registration .wrapper .animation .back-Ob2 {
    animation: backOb2 1s ease-in forwards;
  }
  .registration .wrapper .animation .back-Lb {
    animation: backLb 1s ease-in forwards;
  }
  .registration .wrapper .animation .back-Sb {
    animation: backSb 1s ease-in forwards;
  }
  .registration .wrapper .animation .logo-text {
    display: block;
    position: absolute;
    top: 73%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    bottom: 120px;
    color: #ffffff;
    text-align: center;
    font-family: "Bahnschrift", sans-serif;
  }
  .registration .wrapper .animation .logo-text .text-top {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    display: flex;
  }
  .registration .wrapper .animation .logo-text .text-top .letters {
    padding: 0 3px;
  }
  .registration .wrapper .animation .logo-text .text-top .letters-shadow {
    text-shadow: 0 0px 2px #ffffff;
  }
  .registration .wrapper .animation .logo-text .text-top .jump {
    animation: jump 0.2s ease-in-out 1;
  }
  .registration .wrapper .animation .logo-text .text-top .letter-b-T {
    margin-left: 10px;
    transform-origin: 50% 110%;
  }
  .registration .wrapper .animation .logo-text .text-top .letter-b-L {
    transform-origin: 50% 110%;
  }
  .registration .wrapper .animation .logo-text .text-top .letters-b {
    padding: 0 3px;
    color: #ff5700;
    cursor: pointer;
  }
  .registration .wrapper .animation .logo-text .text-bottom {
    position: absolute;
    top: 7px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    letter-spacing: 2px;
    font-size: 14px;
  }
}/*# sourceMappingURL=style-login.css.map */