@import 'colors';

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: $bgc;
    margin: 0 auto;
    color: $white;
    font-size: 10px;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='1600' preserveAspectRatio='none' viewBox='0 0 1440 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1057%26quot%3b)' fill='none'%3e%3crect width='1440' height='1600' x='0' y='0' fill='rgba(34%2c 34%2c 34%2c 1)'%3e%3c/rect%3e%3cpath d='M1377.8149412412818 1140.8437095319823L1105.7980587786808 1174.2431830033297 1411.2144147126292 1412.8605919945833z' fill='rgba(255%2c 87%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1142.1868431249793 684.221759052941L1268.304404504289 845.6448764129854 1447.3802998547008 575.7569756639986z' fill='rgba(255%2c 87%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M180.75422445312682 149.11057258908698L390.35575120492257-32.74284377118033 162.41051130857858-115.70812613611832z' fill='rgba(255%2c 87%2c 0%2c 1)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1152.409438201717 1072.6423869097182L819.6058997848339 983.1279200544116 892.4878565157765 1275.44148250966z' fill='rgba(255%2c 87%2c 0%2c 1)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1057'%3e%3crect width='1440' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

ul{
    list-style: none;
}

@mixin wtf{
    margin-right: 20px;
    // background-color: #fff;
}

a{
    text-decoration: none;
    color: $white;
}

.orange-text{
    color: $main-theme;
    text-transform: uppercase;
}

// NAV------------------------------------------------------------------------------------------------------------


.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid $white;
    font-size: 14px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, .4);
    position: fixed;
    background-color: rgb(34, 34, 34);
    z-index: 1000;
}

.logo{
    height: 70px;
    padding: 10px;
    transition: transform .3s;
    cursor: pointer;

    img{
        height: 100%;
    }
}

.logo:hover{
    transform: scale(.95);
}

.main-nav{
    display: flex;
    text-transform: uppercase;
    height: 70px;

    .menu{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .menu-item{
            position: relative;
            cursor: pointer;
            padding: 10px 30px;
            transition: color .2s;
            letter-spacing: 1px;
            // align-items: center;

            .dropdown{
                .dropdown-item{
                    display: none;
                }
            }
        }

        .menu-item::before{
            position: absolute; 
            right: 0;
            top: 0;
            content: '';
            height: 0;
            width: 0;
            border: 0px solid $main-theme;
            transition: .5s;
            // opacity: 0;
        }

        .menu-item::after{
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 0;
            height: 0;
            border: 0px solid $main-theme;
            // opacity: 0;
            transition: .5s;
        }

        .menu-item:hover:before{
            // height: 100%;
            width: 98.5%;
            border: 1px solid $main-theme;
            // margin: 10px;
        }

        .menu-item:hover:after{
            // bottom: 0;
            height: 100%;
            border: 1px solid $main-theme;
            // transform-origin: right;
        }           
        
        // .dropdown-item::before{
        //     position: absolute;
        //     left: 0;
        //     top: 0;
        //     content: '';
        //     width: 0;
        //     height: 0;
        //     border: 0px solid $main-theme;
        //     transition: .3s;
        // }
        .dropdown-item::before{
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 0;
            height: 0;
            border: 0px solid $main-theme;
            transition: height .3s, border .3 cubic-bezier(0.215, 0.610, 0.355, 1);
        }
        
        .menu-item:hover{
            color: $main-theme;

            .dropdown-item::before{
                height: 100%;
                border: 1px solid $main-theme;
                transition-delay: 0.35s;
            }

            .dropdown{
                position: absolute;
                top: 100%;
                left: 0;
                line-height: 100%;
                color: $white;
                width: 100%;
                // align-items: center;
                // display: flex;
                // flex-direction: column;
                // align-items: center;
                // justify-content: center;
                // align-items: center;
                // height: 10px;
                .dropdown-item{
                    // display: block;
                    // margin: 0 auto;
                    height: 50px;
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: rgba(34, 34, 34, .8);
                    transition: .2s;
                    opacity: 0;
                    transform: translateY(-30px);
                    text-align: center;
                    // z-index: -1;
                    // background-color: #333;
                }

                .dropdown-item:nth-child(1){
                    animation: .25s .1s menu2 forwards;
                }

                .dropdown-item:nth-child(2){
                    animation: .25s .2s menu2 forwards;
                }

                .dropdown-item:nth-child(3){
                    animation: .25s .3s menu2 forwards;
                }

                .dropdown-item:nth-child(4){
                    animation: .25s .4s menu2 forwards;
                }



                // .dropdown-item:hover:before{
                //     height: 100%;
                //     // width: 1px;
                //     border: 1px solid $main-theme;
                // }

                .dropdown-item:hover{
                    color: $main-theme;
                    font-size: 15px;
                }
            }
        }
    }
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-transform: uppercase;
    // margin: 10px;
    padding: 20px;
    letter-spacing: 1px;
    transition: .3s;
    cursor: pointer;

    i{
        font-size: 14px;
        margin-left: 3px;
    }
}

.login:hover{
    transform: scale(0.95);
    color: $main-theme;
}


@keyframes menu2{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}


// NAV-END------------------------------------------------------------------------------------------------------------
// HEADER------------------------------------------------------------------------------------------------------------

.hero-img{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 50vh;
    width: 100%;
    background-image: url(../img/cucumber-5318945_640.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 70px;
    z-index: 5;
}

.hero-shadow{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(34, 34, 34, .8);
    z-index: 6;
}

.hero-text{
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // align-items: end;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
    text-transform: uppercase;
    z-index: 8;
    
    i{
        position: absolute;
        bottom: 1vh;
        padding-bottom: 10px;
        cursor: pointer;
        animation: arrow 1s infinite;
    }
}

@keyframes arrow{
    0%{
        bottom: 1vh;
    }
    50%{
        bottom: 1.5vh;
    }
     100%{
        bottom: 1vh;
     }
}

// HEADER-END------------------------------------------------------------------------------------------------------------
// MAIN-TOOLS------------------------------------------------------------------------------------------------------------

.background{
    .circle{
        width: 200px;
        height: 200px;
        border-radius: 15%;
        background-color: $main-theme;
    }
}

.tool{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: 50px;



    .tool-img{
        position: relative;
        height: 60vh;
        width: 60vh;
        // overflow: hidden;
        background-position: center;
        background-size: cover;
        background-color: $gray;

        .text-hidden{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: 0;
            text-align: center;
            padding: 50px 0px 20px 0px;
            font-size: 20px;
            color: $main-theme;
            // background-color: rgba(5, 5, 5, );
            background-image: linear-gradient(0deg, rgba(5, 5, 5, 1) 0%, rgba(41, 53, 86, 0) 50%);
            clip-path: ellipse(60% 30% at 50% 130%);
            transition: clip-path 0.8s;
        }

        
    }

    .tool-img:hover{
        .text-hidden{
            clip-path: ellipse(60% 30% at 50% 100%);
        }
    }
    
    .tool-text::before{
        position: absolute;
        left: 40px;
        top: 6px;
        content: '';
        height: 90%;
        border: 1px solid $main-theme;
    }

    .tool-text{
        position: relative;
        height: 60vh;
        width: 60vh;
        padding: 15px 40px 15px 60px;
        // padding-left: 60px;
        // background-color: #fff;

        .tool-title{
            font-size: 24px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: $main-theme;
            transition: color .2s, transform .2s;
        }

        .tool-title:hover{
            color: $main-theme;
            transform: translate(10px);
            // font-size: 26px;
            // transform-origin: left;
        }

        .tool-desc{
            margin-top: 10px;
            font-size: 18px;
            line-height: 28px;
        }
    }
}


// MAIN-TOOLS-END------------------------------------------------------------------------------------------------------------
// MAIN-MORE------------------------------------------------------------------------------------------------------------


.more{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 100%;
    background-color: $white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 50px;
    text-transform: uppercase;
    // font-weight: b;
    letter-spacing: 1px;
    text-align: center;

    p{
        font-size: 26px;
        color: $bgc;
        padding: 10px;
    }

    p:nth-child(2){
        font-weight: bold;
    }
}

.useless{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 100%;
    
    img{
        height: 30vh;
        transition: transform .3s;

    }
    
    img:hover{
        transform: scale(.9);
        
    }
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: $main-theme;
    font-size: 20px;
}
