@import 'colors';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0 auto;
	font-size: 10px;
	color: $white;
	font-family: 'Montserrat', sans-serif;
	// background-color: white;
}


.message {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 50%;
	top: 320px;
	transform: translate(-50%, -50%);
	padding: 15px;
	font-size: 0.8rem;
	text-align: center;
	text-transform: uppercase;
	box-shadow: 0 0 3px $white;
	border-radius: 25px;
	background-color: #222;
	// z-index: 10000;
}

.dnone {
	display: none;
}

.container {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: 1400px;
}



// PASSWORD_GENERATOR_SECTION --- HEADER
header {
	text-align: center;
	margin-bottom: 40px;

	hr {
		margin: 30px auto;
		width: 70%;
	}

	.section-title {
		margin-bottom: 15px;
		font-size: 1.8rem;
		font-weight: bold;
		color: $main-theme;
		text-transform: uppercase;
		letter-spacing: 2px;
		// text-shadow: 0 0 1px black;
	}

	p.generator-text {
		font-size: 1.1rem;
	}
}
//-------------------------------------------------

.password-generator {
	position: relative;
	margin: 0 auto;
	height: 100%;


	.password-generator-section {
		padding: 120px 30px 30px 30px;
		

		//PASSWORD_GENERATOR  --- FORM
		.password-generator-form {
			display: flex;
			flex-direction: column;
			align-items: center;

			//DISPLAY_PASSWORD
			.display-password-container {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 20px;
				width: 100%;
				flex-wrap: wrap;
				margin-bottom: 50px;

				.password {
					display: flex;
					justify-content: space-between;
					position: relative;
					width: 100%;
					max-width: 536px;
					height: 50px;
					border: 2px solid $white;
					border-radius: 15px;
					overflow: hidden;
					transition: 0.5s;
				}
				.red {
					border-bottom: 2px solid red;
				}
				.yellow {
					border-bottom: 2px solid yellow;
				}
				.green {
					border-bottom: 2px solid green;
				}

				.display-password {
					display: flex;
					width: 90%;
					padding: 0;
				}

				.generate-btn {
					font-size: 1.4rem;
					text-align: center;
					padding-right: 10px;
					color: $white;
					background: none;
					border: none;
					transition: transform 0.3s;
					cursor: pointer;
				}

				.generate-btn:hover {
					transform: scale(1.1);
				}

				.password-text {
					font-size: 1rem;
					margin: auto 10px;
					overflow-x: auto;
				}

				.copy-btn {
					padding: 12px 24px;
					text-align: center;
					font-size: 0.8rem;
					color: $white;
					text-transform: uppercase;
					border-radius: 25px;
					border: none;
					background-color: $main-theme;
					box-shadow: 0 0 3px $main-theme;
					border: 1px solid $white;
					transition: transform 0.3s;
				}

				.copy-btn:hover {
					color: #ededed;
					transform: scale(0.95);
					cursor: pointer;
				}
			}
			//PASSWORD_SETTINGS_CONTAINER
			.password-container {
				margin: 0 auto;
				text-align: center;
				font-size: 1.1rem;

				.password-settings-container {
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					width: 100%;
					gap: 15px;
					margin-bottom: 40px;

					.password-length {
						display: flex;
						align-items: center;
						justify-content: center;
						gap: 5px;
					}

					.choosed-length {
						font-weight: bold;
						font-size: 1.2rem;
					}

					.length-change-container {
						display: flex;
						width: 100%;
						justify-content: space-between;
						align-items: center;
						gap: 10px;
					}

					.length-change {
						width: 40px;
						height: 40px;
						text-align: center;
						line-height: 40px;
						border-radius: 50%;
						background-color: $main-theme;
						color: $white;
						border: 1px solid $white;
						cursor: pointer;
						transition: transform 0.3s;
					}

					.length-change:hover {
						transform: scale(0.95);
					}

					.range-slider {
						position: relative;
						width: 70%;
						height: 6px;
						border-radius: 25px;
						border: 1px solid black;
						appearance: none;
						background-color: #ededed;
					}

					.range-slider::-webkit-slider-thumb {
						appearance: none;
						width: 40px;
						height: 40px;
						border-radius: 50%;
						border: 2px solid $white;
						background-color: $main-theme;
						cursor: pointer;
						transition: transform 0.3s;
					}

					.range-slider::after::-webkit-slider-thumb {
						content: '';
						position: absolute;
						width: 10px;
						height: 10px;
					}

					.range-slider::-webkit-slider-thumb:hover {
						transform: scale(0.9);
					}

					.range-slider::-webkit-slider-thumb:active {
						transform: scale(0.9);
					}

					.password-characters {
						display: flex;
						justify-content: space-around;
						gap: 20px;

						.pass-item {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 5px;
						}

						.pass-checkbox {
							position: relative;
							width: 20px;
							height: 20px;
							cursor: pointer;
							appearance: none;
							border: 2px solid $white;
							border-radius: 5px;
							transition: scale 0.3s;
						}

						.pass-checkbox:checked {
							box-shadow: 0 0 4px $main-theme;
						}

						.pass-checkbox:hover {
							transform: scale(1.15);
						}

						.pass-checkbox:checked::before {
							content: '';
							position: absolute;
							appearance: none;
							clip-path: polygon(
								14% 44%,
								0 65%,
								50% 100%,
								100% 16%,
								80% 0%,
								43% 62%
							);
							background-color: $main-theme;
							color: $white;
							width: 14px;
							height: 14px;
							font-size: 0.2rem;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							cursor: pointer;
						}

						.pass-checkbox:disabled {
							background-color: #999999;
							box-shadow: none;
						}

						.pass-checkbox:disabled {
							transform: scale(1);
						}

						.pass-checkbox:disabled::before {
							background-color: #333;
						}

						.settings-description {
							font-weight: bold;
							font-size: 1.1rem;
						}
					}
				}
			}
		}
		//------------FORM --- END --------------
	}

	//PASSWORD_STRENGTH_SECTION
	.password-strength-section {
		margin: 0 auto;
		padding: 40px 10px;
		color: #333;
		background-color: $white;
		box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);

		.cards {
			display: flex;
			gap: 25px;
			flex-wrap: wrap;
			justify-content: center;
			align-items: baseline;
			.card {
				width: 100%;
				max-width: 270px;
				padding: 20px 10px;
				text-align: center;
				margin-bottom: 20px;
				border-radius: 25px;
				transition: transform 0.3s;
			}

			.card:hover {
				transform: scale(1.1);
			}

			.card-icon {
				font-size: 2rem;
				margin-bottom: 20px;
				// text-shadow: 0 0 4px $main-theme;
			}

			.card-title {
				font-size: 1.8rem;
				margin-bottom: 10px;
			}

			.card-text {
				font-size: 1.1rem;
			}
		}
	}

	//QUESTIONS_SECTION

	.questions-section {
		padding: 60px 10px;


		.section-title{
			color:$white;
		}
		

		.accordion {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin: 0 auto;
			width: 80%;
			border-top-right-radius: 25px;
			border-bottom-left-radius: 25px;
			border: 2px solid white;
			box-shadow: 0 0 15px 0 rgba(0, 0, 0, 1);
			color: white;
			overflow: hidden;

			.accordion-item {
				border-bottom: 2px solid white;
				height: fit-content;
			}

			.accordion-item:last-child {
				border-bottom: none;
			}

			.accordion-btn {
				display: block;
				width: 100%;
				padding: 40px 20px;
				background-color: #222;
				border: none;
				color: white;
				text-transform: uppercase;
				font-size: 1.2rem;
				cursor: pointer;
			}
			.probe {
				color: $main-theme;
			}

			.accordion-text {
				display: block;
				width: 100%;
				height: 350px;
				padding: 10px 10px;
				text-align: center;
				font-size: 1rem;
				background-color: #222;
				transition: transform 0.3s, height 0.3s;
				transform-origin: top;
			}

			.accordion-text-d-none {
				height: 0px;
				padding: 0;
			}

			.accordion-btn:hover {
				background-color: #333;
				color: $main-theme;
			}
		}
	}
}

@media (min-width: 320px) {
	.password-generator {
		.questions-section {
			.accordion {
				.accordion-text {
					height: 300px;
				}

				.accordion-text-d-none {
					height: 0px;
				}

				.accordion-btn {
					padding: 40px 20px;
				}
			}
		}
	}
}

@media (min-width: 375px) {
	.password-generator {
		.questions-section {
			.accordion {
				.accordion-text {
					height: 250px;
				}

				.accordion-text-d-none {
					height: 0px;
				}

				.accordion-btn {
					padding: 40px 20px;
				}
			}
		}
	}
}
@media (min-width: 420px) {
	.password-generator {
		.questions-section {
			.accordion {
				.accordion-text {
					height: 200px;
				}

				.accordion-text-d-none {
					height: 0px;
				}

				.accordion-btn {
					padding: 40px 20px;
				}
			}
		}
	}
}

@media (min-width: 576px) {
	header {
		margin-bottom: 60px;

		.section-title {
			font-size: 2.5rem;
		}

		p.generator-text {
			font-size: 1.3rem;
		}
	}

	.password-generator {
		.password-generator-section {
			padding: 170px 30px 100px 30px;
		}

		.questions-section {
			padding: 90px 30px 160px 30px;
			.accordion {
				.accordion-text {
					height: 160px;
				}
				.accordion-text-d-none {
					height: 0px;
				}

				.accordion-btn {
					padding: 35px 20px;
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.password-generator-section {
		header {
			margin-bottom: 100px;
		}
	}
	.password-generator {
		.background-repair-kit{
			padding: 70px 50px 50px;
			border: 1px solid $white;
			border-radius: 15px;
			background-color: $bgc;
			box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 1);
		}

		.circles{
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			z-index: -150;
		
			li{
				position: absolute;
				display: block;
				list-style: none;
				width: 20px;
				height: 20px;
				background: $main-theme;
				animation: animate 60s linear infinite;
				bottom: -150px;
				opacity: 0;
			}
	
			li:nth-child(1){
				left: 25%;
				bottom: 50%;
				width: 60px;
				height: 60px;
				animation-delay: 0s;
			}
			
			
			li:nth-child(2){
				left: 10%;
				bottom: 30%;
				width: 20px;
				height: 20px;
				animation-delay: 2s;
				animation-duration: 35s;
			}
			
			li:nth-child(3){
				left: 70%;
				bottom: 70%;
				width: 20px;
				height: 20px;
				animation-delay: 34s;
			}
			
			li:nth-child(4){
				left: 40%;
				bottom: 60%;
				width: 60px;
				height: 60px;
				animation-delay: 0s;
				animation-duration: 28s;
			}
			
			li:nth-child(5){
				left: 65%;
				bottom: 20%;
				width: 20px;
				height: 20px;
				animation-delay: 0s;
			}
			
			li:nth-child(6){
				left: 75%;
				bottom: 40%;
				width: 110px;
				height: 110px;
				animation-delay: 3s;
			}
			
			li:nth-child(7){
				left: 35%;
				bottom: 10%;
				width: 150px;
				height: 150px;
				animation-delay: 7s;
			}
			
			li:nth-child(8){
				left: 50%;
				width: 25px;
				height: 25px;
				animation-delay: 15s;
				animation-duration: 45s;
			}
			
			li:nth-child(9){
				left: 20%;
				width: 15px;
				height: 15px;
				animation-delay: 2s;
				animation-duration: 35s;
			}
			
			li:nth-child(10){
				left: 85%;
				width: 150px;
				height: 150px;
				animation-delay: 0s;
				animation-duration: 51s;
			}
	
			li:nth-child(11){
				left: 80%;
				bottom: 70%;
				width: 50px;
				height: 50px;
				animation-delay: 3s;
				animation-duration: 49s;
			}
	
			li:nth-child(12){
				left: 65%;
				bottom: 50%;
				width: 30px;
				height: 30px;
				animation-delay: 0s;
				animation-duration: 42s;
			}
	
			li:nth-child(13){
				left: 25%;
				bottom: 75%;
				width: 50px;
				height: 50px;
				animation-delay: 6s;
				animation-duration: 31s;
			}
	
			li:nth-child(14){
				left: 15%;
				bottom: 40%;
				width: 20px;
				height: 20px;
				animation-delay: 0s;
				animation-duration: 59s;
			}
	
			li:nth-child(15){
				left: 10%;
				bottom: 30%;
				width: 45px;
				height: 45px;
				animation-delay: 12s;
				animation-duration: 55s;
			}
		}
		@keyframes animate {
	
			0%{
				transform: translateY(0) rotate(0deg);
				opacity: 0;
				border-radius: 0;
			}
		
			15%{
				opacity: 1;
			}
		
			50%{
				transform: translateY(-500px) rotate(360deg);
				border-radius: 25%;
			}
		
			100%{
				transform: translateY(-1000px) rotate(720deg);
				opacity: 0;
				border-radius: 50%;
			}
		
		}
		.password-strength-section{
			padding: 70px 10px 50px;
		}

		.questions-section {
			padding: 100px 30px 170px 30px;
			.accordion {
				.accordion-text {
					height: 100px;
				}
				.accordion-text-d-none {
					height: 0px;
				}
			}
		}
	}
}
