{% extends 'core/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
{% endblock %}

{% block content %}

<main class="registration">
    <main class ="registration">
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div >

        <div class="wrapper">
            <div class="card">
                <form method="post" novalidate>
                    {% csrf_token %}

                    
                    {% for field in form %}
                        {% if field.name == "username" %}
                            <div class="error-block">
                                <div class="input-block">
                                    <i class="fa-solid fa-user"></i>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="top"></div>
                                    <div class="side white-bgc"></div>
                                    <div class="bottom one"></div>
                                    <div class="bottom two"></div> 
                                </div>
                                <p class="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </p>        
                            </div>
                        {% elif field.name == "email" %}
                            <div class="error-block">
                                <div class="input-block">
                                    <i class="fa-regular fa-envelope"></i>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="top"></div>
                                    <div class="side white-bgc"></div>
                                    <div class="bottom one"></div>
                                    <div class="bottom two"></div> 
                                </div>
                                <p class="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </p>        
                            </div>
                        {% elif field.name == "password1" %}
                            <div class="error-block">
                                <div class="input-block">
                                    <i class="fa-solid fa-lock"></i>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="top"></div>
                                    <div class="side white-bgc"></div>
                                    <div class="bottom one"></div>
                                    <div class="bottom two"></div> 
                                </div>
                                <p class="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </p>        
                            </div>
                        {% elif field.name == "password2" %}
                            <div class="error-block">
                                <div class="input-block">
                                    <i class="fa-solid fa-lock"></i>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="top"></div>
                                    <div class="side white-bgc"></div>
                                    <div class="bottom one"></div>
                                    <div class="bottom two"></div> 
                                </div>
                                <p class="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </p>        
                            </div>
                        {% elif field.name == "birth_date" %}
                            <div class="error-block">
                                <div class="input-block">
                                    <i class="fa-regular fa-calendar"></i>
                                    {{ field.label_tag }}
                                    {{ field }}
                                    <div class="top"></div>
                                    <div class="side white-bgc"></div>
                                    <div class="bottom one"></div>
                                    <div class="bottom two"></div> 
                                </div>
                                <p class="error">
                                    {% if field.errors %}
                                        {% for error in field.errors %}
                                            {{ error }}
                                        {% endfor %}
                                    {% endif %}
                                </p>        
                            </div>
                        {% endif %} 
                    {% endfor %}

                    <div class="buttons">
                        <a href="{% url 'signin' %}" class="login-btn"><i class="fa-solid fa-arrow-right"></i> Jednak mam konto</a>
                        <button type="submit" class="btn btn-primary">Zarejestruj</button>
                    </div>
                </form>    
            </div>

            <div class="animation">
                <div class="sparkle sparkle-one"></div>
                <div class="sparkle sparkle-two"></div>
                <div class="sparkle sparkle-three"></div>
                <div class="sparkle sparkle-four"></div>
                <img class="wheel wheel-one smooth-animation" src="{% static 'img/kulko.svg' %}" alt="">
                <img class="wheel wheel-two reverse-animation smooth-animation" src="{% static 'img/kulko.svg' %}" alt="">
                <img class="wheel wheel-three smooth-animation" src="{% static 'img/kulko.svg' %}" alt="">

                <div class="logo-text">
                    <div class="text-top">
                        <span class="let letter-U letters letters-shadow">u</span>
                        <span class="let letter-S letters letters-shadow">s</span>
                        <span class="let letter-E letters letters-shadow">e</span>
                        <span class="let letter-L letters letters-shadow">l</span>
                        <span class="let letter-E letters letters-shadow">e</span>
                        <span class="let letter-S letters letters-shadow">s</span>
                        <span class="let letter-S letters letters-shadow">s</span>
                        <span class="let letter-b-T letters-b">t</span>
                        <span class="let letter-b-O letters-b">o</span>
                        <span class="let letter-b-O2 letters-b">o</span>
                        <span class="let letter-b-L letters-b">l</span>
                        <span class="let letter-b-S letters-b">s</span>
                    </div>
                    <div class="text-bottom">
                        <p>Possibly useful tools</p>
                    </div>
                </div>
            </div>
        </div>
    </main>




        {% comment %} {% for field in form %}

            {{ field.label_tag }} {{ field }}
        {% endfor %} {% endcomment %}

</main>
<script src="{% static 'js/registration/login.js' %}"></script>

{% endblock %}
