{% extends 'core/base.html' %}
{% load static %}
{% block title %} ZROBILEM BEZ BOTA W PRZECIWIENSTWIE DO PAWLA {% endblock %}   
{% block head%}
{% endblock %}
{%block content%}
<body>
    <div class ="maciekPL">
        <form id ="chomsky-form" action="/chomsky-convert" method="post">
            {% csrf_token %}
            <label for="terminalne">Symbole terminalne:</label>
            <input label ="symbole terminalne" type="text" name="terminalne">
            <br>
            <label for="reguly">Wprowadź reguły</label>
            <textarea class ="dajdwazlote" name="regulyChomsky" rows="2" cols="4"></textarea>
        <input type="submit" value="Konwertuj">
        </form>
        <p id ="wynikChomsky"></p>
    </div>
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/chomsky.js'%}"></script>
</body>
{% endblock %}
</html>