{% extends 'core/base.html' %}
{% load static %}
{% block title %} Greibach {% endblock %}   
{% block head%}
<style>
    .MaciekPL{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #greibach-form input{
        margin: 1px;
    }
    #wynikGreibach{
        margin: 10px;
        white-space: pre-line; /* wez dodaj to do css potem. Wazne to jest bo jak przychodza dane przez jsona to korzysta z tych \n*/

    }
    .dajdwazlote{
        width: 110%;
    }
    .container{
        width: 100%;
        height: 100%;
        background-color: #f1f1f1;
        border-radius: 10px;
        padding: 10px;
        align-items: c;
    }
</style>
{% endblock %}
{%block content%}

<div class="MaciekPL">
    <div class="container"></div>
        <form id ="greibach-form" action="/greibach-convert" method="post">
            {% csrf_token %}
            <label for="terminalne">Symbole terminalne:</label>
            <input label ="symbole terminalne" type="text" name="terminalne">
            <br>
            <label for="reguly">Wprowadź reguły</label>
            <textarea class ="dajdwazlote" name="reguly" rows="4" cols="10"></textarea>
        <input type="submit" value="Konwertuj">
        </form>
        <p id ="wynikGreibach"></p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/greibach.js'%}"></script>

{% endblock %}