{% load static %}
<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset='UTF-8'>
    <title>Home</title>
    <link
			href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap"
			rel="stylesheet"
		/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    
</head>
<body>
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dis">
    <strong>Wiadomość: </strong>{{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}

    <a href="{%url 'generator'%}">generator brzyki ten</a>
    <a href="{%url 'signup'%}"><button>Zarejestruj</button></a>
    <a href="{%url 'signin'%}"><button>Zaloguj</button></a>
    <a href="{%url 'signout'%}"><button>Wyloguj</button></a>

    {% if user.is_authenticated %}
    <h3>Witaj {{user}},zostałeś pomyślnie zalogowany! </h3>
    {% endif %}


</body>
</html>