{% extends 'core/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/style-home.css' %}">
{% endblock %}

{% block content %}
<header class="hero-img">
    <div class="hero-shadow"></div>
    <div class="hero-text">
        <p>Jeśli czasem czujesz się bezużyteczny to sprawdź nasze narzędzia!</p>
        <a href="#tools"><p><i class="fa-solid fa-angle-down"></i></p></a>
    </div>
</header>

<main>
    <section id="tools" class="tools">
        <div class="area" >
            <ul class="circles">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
            </ul>
        </div >

        <div class="tool">
            <a href="generator">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Generator haseł losowych</p>
                        <p class="card-text">Narzędzie pozwalające wylosować skomplikowane hasło, idealne jeśli nie masz na nie pomysłu. Posiada możliwość wyboru długości, użytych znaków, wygenerowane hasło nie jest nigdzie zapisywane i tylko Ty masz do niego dostęp. Kod naszego generatora jest ukryty głęboko w odmętach backendu i tylko my wiemy jak on działa ;)</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Kalkulator systemów liczbowych</p>
                        <p class="card-text">Zestaw kalkulatorów pozwalających przeliczać liczby z systemu dziesiętnego na dwójkowy, ósemkowy oraz szesnastkowy oraz na odwrót! Po wprowadzeniu liczby konwerter sam uzupełni pozostałe tabelki, kalkulator działa tylko na liczbach całkowitych.</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Typing speed test</p>
                        <p class="card-text">Sprawdź się w szybkości pisania za pomocą naszego testu, do wyboru jest wiele ustawień tj. długość tekstu oraz język. W przyszłości planujemy rozwinąć to narzędzie o rankingi oraz wiele innych możliwości, <span class="orange-text">stay tuned!</span></p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Lorem ipsum</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates autem sit, non animi eos? Doloremque, quibusdam! Soluta praesentium, laborum temporibus commodi, eaque delectus quaerat consequatur adipisci quibusdam labore impedit!</p>
                    </div>
                </div>
            </a>
        </div>
        
        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Lorem ipsum</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates autem sit, non animi eos? Doloremque, quibusdam! Soluta praesentium, laborum temporibus commodi, eaque delectus quaerat consequatur adipisci quibusdam labore impedit!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Lorem ipsum</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates autem sit, non animi eos? Doloremque, quibusdam! Soluta praesentium, laborum temporibus commodi, eaque delectus quaerat consequatur adipisci quibusdam labore impedit!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Lorem ipsum</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates autem sit, non animi eos? Doloremque, quibusdam! Soluta praesentium, laborum temporibus commodi, eaque delectus quaerat consequatur adipisci quibusdam labore impedit!</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="tool">
            <a href="#">
                <div class="card">
                    <div class="tool-img"></div>
                    <div class="card-back">
                        <p class="card-header">Lorem ipsum</p>
                        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates autem sit, non animi eos? Doloremque, quibusdam! Soluta praesentium, laborum temporibus commodi, eaque delectus quaerat consequatur adipisci quibusdam labore impedit!</p>
                    </div>
                </div>
            </a>
        </div>
    </section>

    <section class="more">
        <p>W przyszłości planujemy rozwinąć naszą stronę o jeszcze więcej <span class="orange-text">useless</span> narzędzi!</p>
        <p><span class="orange-text">stay tuned!</span></p>
    </section>

    <section class="about">
        <div class="bg"></div>
    </section>

    <section class="useless">
        <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo UselessTools"></a>
    </section>
</main>
{% endblock %}