{% load static %}
<!DOCTYPE html>
<html lang='pl'>
<head>
    <meta charset='UTF-8'>
    <title>Home</title>
    <link
			href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap"
			rel="stylesheet"
		/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


    
</head>
<body>
    {% for message in messages %}
    <strong>Wiadomość: </strong>{{ message }}
    <br>
    {% endfor %}
    
    <a href="{%url 'generator'%}">generator brzyki ten</a>



    {% if user.is_authenticated %}
        <a href="{%url 'signout'%}"><button>Wyloguj</button></a>
    {% else %}
        <a href="{%url 'signup'%}"><button>Zarejestruj</button></a>
        <a href="{%url 'signin'%}"><button>Zaloguj</button></a>
    {% endif %}



</body>
</html>